*{
    margin: 0;
    padding: 0;
}

.logo{
    height: 40px;
    margin: auto;
    width: 43px;
    padding:20px ;
}

.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: inline-flex;
    width: 100%;
    
}

.left{
    width: 80%;
    display: inline-flex;
    height: fit-content;

}

.right{
    width: 30%;
    display: inline-flex;
    align-items: inherit;
    padding: 20px 20px 20px 50px;
    height: fit-content;
    
}

.rbutton{
    border-radius: 20px;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}

.rbutton:hover{
    background-color: rgb(74, 177, 74);
}

.lbutton{
    font-size: 20px;
    border:none;
    width: 150px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}


.lbutton:hover{
    background-color: rgb(90, 182, 90);
}
.one{
    background-color: pink;
}

.two{
    background-color: white;
}

.three{
    background-color: rgb(115, 201, 115);
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #252527;
    box-shadow: 0px 8px 16px 0px rgba(57, 57, 57, 0.2);
    z-index: 1;
  }
    
  .dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: rgb(89, 101, 100)}
  .show {display:block;}

.html{
    display: flex;
    width: 100%;
    height: 75vh;
    background-color: #3f3f45;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.html-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px 0px 20px 0px;
    text-align: center;
    align-items: center;
}

.html-right{
    width: 50%;
    padding: 38px 50px 20px 0px;
    text-align: center;
}

.secbtn{
    border-radius: 20px;
    font-size: 18px;
    width: 170px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}

.button-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;
}

.css{
    display: flex;
    width: 100%;
    height: 75vh;
    background-color: #abdee9;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.css-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px 0px 20px 0px;
    text-align: center;
    align-items: center;
}

.css-right{
    width: 50%;
    padding: 55px 50px 0px 0px;
    text-align: center;
}

.js{
    display: flex;
    width: 100%;
    height: 75vh;
    background-color: #f2f79b;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.js-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px 0px 20px 0px;
    text-align: center;
    align-items: center;
}

.js-right{
    width: 50%;
    padding: 55px 50px 0px 0px;
    text-align: center;
}
